nav {
  color: #4f4f4f;
  font-family: "Raleway";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;

  display: flex;
  justify-content: flex-end;

  width: 70%;
  max-width: 80rem;

  padding: 2rem 6rem;
  margin: 0 auto;
}

nav > span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  transition: transform 0.3s;
  cursor: pointer;
}

.rotate {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  nav {
    font-size: 1.25rem;

    width: 70%;
    max-width: 30rem;

    padding: 3rem 6rem 1rem;
  }
}
