.authorQuotes {
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
  line-height: normal;

  display: flex;
  flex-direction: column;
  gap: 7.5rem;

  width: 40rem;
  padding: 10rem 0;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .authorQuotes {
    gap: 4rem;

    width: 20rem;
    padding: 5rem 0;
  }
}
